@import "tailwindcss";

/* We have foundation colors that we are going to use in semantic colors. So we will create Root for foundation colors and use those in theme for semantic colors */

:root {
  /* Neutral Color Palette */
  --neutral-white: #ffffff;
  --neutral-50: #f6f8f6;
  --neutral-100: #ebf0eb;
  --neutral-200: #dce3dd;
  --neutral-300: #cbd6cc;
  --neutral-400: #95a196;
  --neutral-500: #818f82;
  --neutral-600: #515c52;
  --neutral-700: #2b302b;
  --neutral-800: #212621;
  --neutral-900: #1a1f1a;
  --neutral-950: #151a15;

  /* Green Color Palette */
  --green-100: #edfcee;
  --green-300: #9aa79b;
  --green-500: #4e544e;
}

@theme {
  --color-*: initial;
  /* Backgrounds */
  --color-bg-page-body: var(--neutral-50);
  --color-bg-base: var(--neutral-white);
  --color-bg-subtle: var(--neutral-50);
  --color-bg-secondary: var(--neutral-100);
  --color-bg-inactive: var(--neutral-500);
  --color-bg-base-reverse: var(--neutral-950);
  --color-bg-brand: var(--green-300);

  /* Borders */
  --color-border-subtle: var(--neutral-100);
  --color-border-base: var(--neutral-200);
  --color-border-strong: var(--neutral-300);
  --color-border-base-inverse: var(--neutral-700);
  --color-border-brand: var(--green-300);

  /* Text */
  --color-text-base: var(--neutral-950);
  --color-text-subtle: var(--neutral-600);
  --color-text-inactive: var(--neutral-500);
  --color-text-on-color: var(--neutral-50);
  --color-text-base-inverse: var(--neutral-50);
  --color-text-subtle-inverse: var(--neutral-400);
  --color-text-brand: var(--green-300);

  /* Typography Sizes */
  --text-*: initial;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.25rem;
  --text-7xl: 4rem;
  --text-8xl: 4.25rem;
  --text-9xl: 5.5rem;

  /* Typogrpahy Line Heights */
  --leading-*: initial;
  --leading-extra-tight: 0.9;
  --leading-none: 1;
  --leading-tight: 1.1;
  --leading-snug: 1.2;
  --leading-normal: 1.3;
  --leading-relaxed: 1.4;
  --leading-loose: 1.5;

  /* Border Radius */
  --radius-*: initial;
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;
  --radius-3: 0.75rem;
  --radius-4: 1rem;
  --radius-5: 1.25rem;
  --radius-6: 1.5rem;
  --radius-full: 9999px;
}

@theme inline {
  --font-heading: var(--font-playfair);
  --font-secondary: var(--font-inter);
}

body {
  background: var(--color-bg-page-body);
  color: var(--color-text-base);
  font-family: var(--font-secondary);
}

/* Utility classes */

.section-container {
  @apply pt-12 pb-12 md:pt-16 md:pb-13 lg:pt-21;
}

.main-container {
  @apply px-6 pt-12 pb-12 md:px-8 md:pt-16 md:pb-13 lg:px-16 lg:pt-21;
}

.vertical-flex {
  @apply flex flex-col gap-8 md:gap-12;
}

.heading-1 {
  @apply font-heading text-6xl leading-extra-tight tracking-tight md:text-8xl lg:text-9xl;
}

.heading-2 {
  @apply font-heading text-4xl leading-extra-tight tracking-tight md:text-5xl lg:text-7xl;
}

.heading-3 {
  @apply font-heading text-2xl leading-none tracking-tight md:text-3xl lg:text-4xl;
}

.heading-3-body {
  @apply font-secondary text-2xl leading-none font-semibold tracking-tight md:text-3xl lg:text-4xl;
}

.paragraph-0 {
  @apply font-secondary text-2xl leading-snug md:text-3xl lg:text-4xl;
}

.paragraph-1 {
  @apply font-secondary text-lg leading-normal md:text-xl;
}

.paragraph-2 {
  @apply font-secondary text-base leading-relaxed;
}

.button-1 {
  @apply font-secondary text-sm leading-none tracking-tight;
}
